microarray:
  image: dnadave/release_microarray:may2017
  labels:
    io.rancher.container.pull_image: always
  tty: true
  hostname: axiohost13
  volumes:
  - /Projects/BIGdata:/data:rw
  stdin_open: true
  net: bridge
  privileged: true
